<div class="center jumbotron">
  <h1>Welcome to the Online Order System</h1>

  <h2>
    This is the home page for the Online Ordering System
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
<% @restaurants.each do |rest| %>
  <%= link_to rest.name, rest %>
  <%= rest.address %>
  <%= image_tag(rest.photo_url) %>
  <br>
<% end %>
